<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="renderer" content="webkit" />
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
  <link rel="icon" href="/favicon.ico" />
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/static/css/loading.css">
</head>

<body>
  <div id="app">
    <div class="loading-mask">
      <div class="loading-wrapper">
        <!-- <img src="/static/img/logo.svg" class="loading-logo" alt="Logo" /> -->
        <div class="loading-spin loading-spin-xl">
          <span class="spin-dot spin-dot-spin"> <i></i><i></i> <i></i><i></i> </span>
        </div>
        <div class="loading-title">
          <%= title %>
        </div>
      </div>
    </div>
  </div>
  <script type="module" src="/src/main.ts"></script>
</body>

</html>
