@use './var.scss' as *;

:root {
  --vap-layout-header-color: #{$layout-header-color};
  --vap-layout-header-background: #{$layout-header-background};
  --vap-layout-footer-background: #{$layout-footer-background};
  --vap-layout-footer-color: #{$layout-footer-color};
  --vap-layout-sider-background: #{$layout-sider-background};
  --vap-layout-sider-color: #{$layout-sider-color};
}

$prefix-cls: '#{$namespace}-layout';

.#{$prefix-cls} {
  display: grid;
  grid-template-areas:
    'header header header'
    'sider content content'
    'sider footer footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;

  // grid-area: content;

  &-header {
    // position: relative;
    grid-area: header;
    height: $layout-header-height;
    padding: $layout-header-padding;
    color: var(--vap-layout-header-color);
    line-height: $layout-header-height;
    background: var(--vap-layout-header-background);
  }

  &-content {
    // position: relative;
    grid-area: content;
  }

  &-footer {
    // position: relative;
    grid-area: footer;
    padding: $layout-footer-padding;
    color: var(--vap-layout-footer-color);
    background: var(--vap-layout-footer-background);
  }

  &-sider {
    // position: relative;
    grid-area: sider;
    width: $layout-sider-width;
    color: var(--vap-layout-sider-color);
    background: var(--vap-layout-sider-background);
    transition: width $transition-duration-base;

    &-collapsed {
      width: $layout-sider-collapsed-width;
    }
  }
}
