@use './var.scss' as *;

:root {
  --vvap-layout-header-background: #{$layout-header-background};
  --vvap-layout-header-color: #{$layout-header-color};
  --vvap-layout-footer-background: #{$layout-footer-background};
  --vvap-layout-footer-color: #{$layout-footer-color};
  --vvap-layout-sider-background: #{$layout-sider-background};
  --vvap-layout-sider-color: #{$layout-sider-color};
}

$prefix-cls: '#{$namespace}-layout';

.#{$prefix-cls} {
  display: grid;
  grid-area: content;
  grid-template:
    'header header header' auto
    'sider content content' 1fr
    'sider footer footer' auto
    / auto 1fr auto;

  &-header {
    grid-area: header;
    height: $layout-header-height;
    padding: $layout-header-padding;
    color: var(--vvap-layout-header-color);
    line-height: $layout-header-height;
    background: var(--vvap-layout-header-background);
  }

  &-content {
    grid-area: content;
  }

  &-footer {
    grid-area: footer;
    padding: $layout-footer-padding;
    color: var(--vvap-layout-footer-color);
    background: var(--vvap-layout-footer-background);
  }

  &-sider {
    grid-area: sider;
    width: $layout-sider-width;
    color: var(--vvap-layout-sider-color);
    background: var(--vvap-layout-sider-background);
    transition: width $transition-duration-base;
  }
}
