@use '@/styles/var.scss' as *;

// header
$layout-header-background: $background-color;
$layout-header-color: $text-color;
$layout-header-height: 64px;
$layout-header-padding: 0 24px;
$layout-header-box-shadow: 0 2px 8px 0 rgb(0 0 0 / 8%);

// footer
$layout-footer-background: $background-color;
$layout-footer-color: $text-color;
$layout-footer-padding: 24px 48px;

// sider
$layout-sider-background: $background-color;
$layout-sider-color: $text-color;
$layout-sider-width: 224px;
$layout-sider-collapsed-width: 64px;
