@use './var.scss' as *;

$prefix-cls: '#{$namespace}-pro-layout';

.#{$prefix-cls} {
  height: $pro-layout-height;
  overflow: auto;

  // .#{$prefix-cls}-content.fixed {
  //   width: 1200px;
  //   margin: 0 auto;
  // }

  &-fixed {
    overflow: hidden;

    .#{$prefix-cls}-content {
      overflow: auto;
    }
  }

  &-header {
    z-index: 2;
    display: flex;
    align-items: center;

    // height: $pro-layout-header-height;
    // line-height: $pro-layout-header-height;
    // box-shadow: $pro-layout-header-box-shadow;

    &-fixed {
      position: sticky;
    }

    &-title {
      min-width: $pro-layout-header-logo-width;
    }

    &-content {
      flex: 1;
    }

    &-extra {
      width: auto;
    }
  }

  &-sider {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: $pro-layout-sider-width;
    height: 100%;

    &-fixed {
      position: sticky;
    }

    &-collapsed {
      width: $pro-layout-sider-collapsed-width;
    }

    &-header {
      height: $pro-layout-sider-header-height;
      line-height: $pro-layout-sider-header-height;
    }

    &-content {
      flex: 1 1 0%;
      height: 100%;
      overflow: hidden;
      border-right: 1px solid #f0f0f0;

      // &:hover {
      //   overflow-y: auto;
      // }
    }

    &-footer {
      height: $pro-layout-sider-footer-height;
      line-height: $pro-layout-sider-footer-height;
    }
  }
}
