$prefix-cls: '#{$namespace}-pro-layout-sider';

.#{$prefix-cls} {
  display: flex;
  flex-direction: column;
  z-index: 1;
  height: 100%;
  width: $pro-layout-sider-width;

  &-fixed {
    position: sticky;
  }

  &-collapsed {
    width: $pro-layout-sider-collapsed-width;
  }

  &-header {
    height: $pro-layout-sider-header-height;
    line-height: $pro-layout-sider-header-height;
  }

  &-content {
    flex: 1 1 0%;
    height: 100%;
    border-right: 1px solid #f0f0f0;
    overflow: hidden;

    // &:hover {
    //   overflow-y: auto;
    // }
  }

  &-footer {
    height: $pro-layout-sider-footer-height;
    line-height: $pro-layout-sider-footer-height;
  }
}
